body{
  background-color:#2c3e50;
  color:#ecf0f1
}

.container{
  width: 100%;
  overflow: auto;
  align-items: center;
  
}
.container div{
  float: left;
  width: 25%;
  text-align: left;
  border-radius: 10px;
  margin-left: 5px;
  padding: 10px;
}

.bg-green-sea{
  background-color:#16a085;
}
.bg-green-nephritis{
  background-color:#27ae60;
}
.bg-blue-belize{
  background-color:#2980b9;
}


