.logo{
                width: 200px;
            }
            .banner{
                width: 100%;
            }
            body{
                /* <!-- bg Green --> */
                background-color: #03f323;
                /* color Blue  */
                color: #2600ff;
            }
